:root {
    --main-text: #939393;
    --title-text: #727272;
    --prime-text: #f8bb10;
    --button-and-border: #ededed;
    --signatures: #bdbdbd;
    --main-bg: #ffffff;
    --first-bg: #fbfbfb;
    --second-bg: #f8f8f8;
    --photo-caption: rgb(58,58,58);
    --title-size: 16px;
    --subtitle-size: 14px;
    --main-title-name-size: 60px;
    --main-title-surname-size: 68px;
    --main-subtitle-size: 20px;
    --number-size: 16px;
    --default_margin_or_padding: 70px;
}



/*_________________________Общие свойства_________________________*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing : none;
}

body {
    color: var(--main-text);
    background-color: var(--main-bg);
}

p {
    margin-block-start: 0;
}

br {
    user-select:none;
}

.main_block {
    display: grid;
    grid-template-columns: 36.5% 63.5%;
    height: 100vh;
}

.block {
    display: grid;
    grid-template-columns: 36.5% 63.5%;
}

.about {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
    padding: var(--default_margin_or_padding);
}

main {
    position: relative;
    width: 65%;
    margin-left: var(--default_margin_or_padding);
}

.about_title {
    text-transform: uppercase;
    color: var(--title-text);
    font-weight: 700;
}

.about_subtitle {
    margin-top: -0.5em;
    font-size: var(--subtitle-size);
}

.first_color {
    background-color: var(--first-bg);
}

.second_color {
    background-color: var(--second-bg);
}

.max_width {
    max-width: 1000px;
}

.text_link {
    color: var(--title-text);
    font-weight: 600;
    text-decoration: none;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
}

.text_link:hover {
    color: var(--prime-text);
}



/*_________________________Стартовый экран_________________________*/
.sidebar {
    height: 100%;
}

.photo {
    display: flex;
    align-items: center;
    height: 90%;
}

.avatar {
    width: 230px;
    height: 230px;
    margin-left: auto;
    margin-right: var(--default_margin_or_padding);
    border-radius: 50%;
}

.content {
    display: flex;
    align-items: center;
    height: 90vh;
}

.content_inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name {
    color: var(--title-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--main-title-name-size);
    font-weight: 300;
    text-transform: lowercase;
}

.surname {
    color: var(--prime-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--main-title-surname-size);
    font-weight: 600;
    margin-top: -0.25em;
    text-transform: uppercase;
}

.subtitle {
    margin-top: 0;
}

.profession {
    margin-top: 0.75em;
    margin-left: 0.1em;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--main-subtitle-size);
    font-weight: 200;
}

.contacts {
    display: flex;
    align-items: flex-end;
}

.contacts a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 2px;
    background: var(--button-and-border);
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -webkit-transition: background 0.2s ease;
    border-radius: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--button-and-border);
}

.contacts a:hover {
    background: var(--main-bg);
}

.contacts a i {
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
}

.contacts a:hover i {
    color: var(--prime-text);
}

.contacts a i {
    margin-top: 5px;
    color: var(--main-text);
    font-size: 25px;
}

.info {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: var(--default_margin_or_padding);
    border-top: solid;
    border-width: 2px;
    border-color: var(--button-and-border);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
}

.info_title {
    color: var(--title-text);
    font-weight: 700;
}

.info_subtitle {
    font-weight: 400;
}

.info_a {
    color: var(--main-text);
    text-decoration: none;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
}

.info_a:hover {
    color: var(--prime-text);
}



/*_________________________О себе_________________________*/
.intro {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
    padding-top: var(--default_margin_or_padding);
    padding-bottom: var(--default_margin_or_padding);
}

.intro_text {
    font-weight: 400;
    line-height: 1.5em;
}



/*_________________________Увлечения_________________________*/
.expertise {
    padding-top: var(--default_margin_or_padding);
    padding-bottom: var(--default_margin_or_padding);
}

.expertise_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3em 3em;
    height: 100%;
}

.competence {
    display: flex;
}

.number {
    color: var(--prime-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--number-size);
    font-weight: 700;
    margin-right: 1em;
    user-select:none;
}

.expertise_title {
    color: var(--title-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
    font-weight: 700;
    text-transform: uppercase;
}

.expertise_subtitle {
    margin-top: -0.5em;
    color: var(--subtitle-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--subtitle-size);
    font-weight: 400;
    line-height: 1.5;
}


/*_________________________Навыки_________________________*/
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3em 3em;
    padding-top: var(--default_margin_or_padding);
    padding-bottom: var(--default_margin_or_padding);
    height: 100%;
}

.progressbar {
    padding-right: 3em;
}

.progressbar_title {
    color: var(--title-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
    font-weight: 700;
    text-transform: uppercase;
}

progress {
    border: 0;
    width: 100%;
    height: 5px;
    margin-bottom: 1em;
}

progress::-webkit-progress-bar {
    background-color: var(--button-and-border);
}

progress::-webkit-progress-value {
    background-color: var(--prime-text);
}



/*_________________________Опыт_________________________*/
.timeline_first {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 3em 3em;
    margin-top: var(--default_margin_or_padding);
    padding-bottom: var(--default_margin_or_padding);
    border-left: solid;
    border-width: 2px;
    border-color: var(--button-and-border);
}

.timeline_second {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 3em 3em;
    padding-top: var(--default_margin_or_padding);
    padding-bottom: calc(var(--default_margin_or_padding) / 2);
    margin-bottom: calc(var(--default_margin_or_padding) / 2);
    border-left: solid;
    border-width: 2px;
    border-color: var(--button-and-border);
}

.dot {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 3em 3em;
    padding-left: 1.5em;
    position: relative;
}

.timeline_point_first {
    display: flex;
    align-items: center;
    position: absolute;
    top: -3px;
    left: -13.5px;
    width: 25px;
    height: 25px;
    background-color: var(--main-bg);
}

.timeline_point_dot {
    margin: auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--prime-text);
}

.dot_name {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding-right: 1em;
}

.dot_date {
    color: var(--signatures);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.dot_name_title {
    color: var(--title-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
    font-weight: 700;
    text-transform: uppercase;
}

.dot_name_subtitle {
    color: var(--title-text);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.dot_place {
    color: var(--signatures);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.dot_text {
    color: var(--subtitle-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--subtitle-size);
    font-weight: 400;
}

.timeline_line {
    position: absolute;
    bottom: calc(0px - calc(var(--default_margin_or_padding) / 2));
    left: -9px;
    border: none;
    height: 2px;
    width: 17px;
    color: var(--button-and-border);
    background-color: var(--button-and-border);
}



/*_________________________Образование_________________________*/
.timeline_point_second {
    display: flex;
    align-items: center;
    position: absolute;
    top: -3px;
    left: -13.5px;
    width: 25px;
    height: 25px;
    background-color: var(--first-bg);
}



/*_________________________Достижения_________________________*/
.awards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3em 3em;
    padding-top: var(--default_margin_or_padding);
    padding-bottom: var(--default_margin_or_padding);
}

.award_line {
    border: none;
    color: var(--prime-text);
    background-color: var(--prime-text);
    height: 5px;
    width: 30%;
}

.award_title {
    color: var(--title-text);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
    font-weight: 700;
    text-transform: uppercase;
}

.award_subtitle {
    margin-top: 0.5em;
    color: var(--subtitle-text);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.75;
}



/*_________________________Творчество_________________________*/
.for_photos {
    display: flex;
    justify-content: center;
}

.photos {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 2em 2em;
    padding-top: var(--default_margin_or_padding);
    padding-bottom: var(--default_margin_or_padding);
}

.photo {
    position: relative;
    user-select: none;
}

.photo_caption {
    overflow: auto;
    padding: 10%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255,.8);
    opacity: 0;
    transition: 0.75s ease-in-out;
    user-select:none;
}

.caption_title {
    color: var(--photo-caption);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
    font-weight: 700;
    text-transform: uppercase;
}

.caption_subtitle {
    margin-top: -0.5em;
    color: var(--photo-caption);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--subtitle-size);
    font-weight: 400;
    line-height: 1.75;
}

.photo_line {
    border: none;
    color: var(--photo-caption);
    background-color: var(--photo-caption);
    height: 3px;
    width: 0%;
    transition: 0.75s ease-in-out;
}

.photo:hover .photo_caption {
    opacity: 1;
}

.photo:hover .photo_line {
    width: 20%;
}

.row-1 {
    max-width: calc(10 * 19.2px * 2 - 2em);
    max-height: calc(5.625 * 19.2px * 2);
    width: calc(10vw * 2 - 2em);
    height: calc(5.625vw * 2);
}

.row-2 {
    grid-row: span 2;
    max-width: calc(10 * 19.2px * 2);
    max-height: calc(11.25 * 19.2px * 2 + 2em);
    width: calc(10vw * 2);
    height: calc(11.25vw * 2 + 2em);
}



/*_________________________Контакты_________________________*/
.footer {
    height: 50vh;
    padding-bottom: var(--default_margin_or_padding);
}

.footer_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: var(--default_margin_or_padding);
    margin-bottom: var(--default_margin_or_padding);
    padding-bottom: var(--default_margin_or_padding);
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--button-and-border);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--title-size);
}

.footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}